<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand font-weight-bold" routerLink="/">Recipe Book</a>
  <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="my-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="/recipes" routerLinkActive="active">
        <a class="nav-link">Recipes</a>
      </li>
      <li
        class="nav-item"
        routerLink="/shopping-list"
        routerLinkActive="active"
      >
        <a class="nav-link">Shopping List</a>
      </li>
    </ul>
    <div class="nav navbar-nav navbar-right">
      <div class="dropleft">
        <a
          class="dropdown-toggle text-light"
          role="button"
          data-toggle="dropdown"
          >manage</a
        >
        <div class="dropdown-menu dropleft">
          <button class="dropdown-item" (click)="saveData()">
            save data
          </button>
          <button class="dropdown-item" (click)="fetchData()">
            fetch data
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
