@import "../../../shared/variables.scss";

.recipe-list-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  box-shadow: boxShadow(small);
}

.recipe-list-card {
  min-width: fit-content;
}

.recipe-list-card-shadow {
  box-shadow: boxShadow(large, lighten($primary, 50));
}
