<div
  class="card mb-3 p-1"
  [routerLink]="['/recipes', recipeId]"
  routerLinkActive="recipe-list-card-shadow"
>
  <div class="row no-gutters align-items-center">
    <div class="col-4">
      <img [src]="recipe.imagePath" [alt]="recipe.name" class="card-img" />
    </div>
    <div class="col-8">
      <div class="card-body py-0 px-2">
        <h5 class="card-title text-primary">{{ recipe.name }}</h5>
        <p class="card-text">{{ recipe.description }}</p>
      </div>
    </div>
  </div>
</div>
