@import "../../../shared/variables.scss";

.card-img {
  box-shadow: boxShadow(small);
}

.recipe-list-card-shadow {
  outline: none;
  border: 1px solid lighten($primary, 30);
  box-shadow: boxShadow(large, lighten($primary, 50));
}
