<div class="row my-2">
  <div class="col-xs-12">
    <div class="btn btn-secondary">new Recipe</div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="card p-2 my-2" *ngFor="let recipe of recipes">
      <div class="row">
        <div class="col-md-8">
          <h5 class="card-text  font-weight-bold text-primary">
            {{ recipe.name }}
          </h5>
          <p class="card-text">{{ recipe.description }}</p>
        </div>
        <div class="col-md-4">
          <img
            [src]="recipe.imagePath"
            alt=""
            class="card-image recipe-list-image"
          />
        </div>
      </div>
      <a href="#" class="streched-link"></a>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
