<div class="row">
  <div class="col-xs-12">
    <h1 class="text-primary">{{ recipe.name }}</h1>
  </div>
</div>
<hr />
<div class="row img-row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive recipe-zoom-image"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" data-toggle="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item" (click)="addIngredients()">
          <a>To Shopping List</a>
        </li>
        <li class="dropdown-item" (click)="editRecipe()">
          <a>Edit Recipe</a>
        </li>
        <li class="dropdown-item"><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 my-2 ml-3">
    <p class="row align-items-center">
      <strong class="text-info marker">#</strong> {{ recipe.description }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
