<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <form
          class="row justify-content-around"
          (ngSubmit)="addIngredient(f)"
          #f="ngForm"
        >
          <div class="col-sm-7 form-group">
            <label for="name" class="text-secondary">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              name="name"
              ngModel
              required
            />
          </div>
          <div class="col-sm-5 form-group">
            <label for="amount" class="text-secondary">Amount</label>
            <input
              type="number"
              id="amount"
              class="form-control"
              name="amount"
              ngModel
              required
              pattern="^[1-9]+[0-9]*$"
            />
          </div>
          <div class="shopping-list-buttons">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="f.invalid"
            >
              {{ editMode ? "Update" : "Add" }}
            </button>
            <button
              class="btn btn-danger"
              type="button"
              (click)="removeIngredient(f.value.name)"
              [disabled]="!f.value.name"
            >
              remove
            </button>
            <button
              class="btn btn-info"
              type="button"
              (click)="clearInputs()"
              [disabled]="!f.value.name || !f.value.amount"
            >
              clear
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
